.flex-100 {
    flex-basis: 100%;
}

.flex-75 {
    flex-basis: 75%;
}

.flex-25 {
    flex-basis: 25%;
}

#top-bg {
    background-color: rgba(255, 255, 0, 0.2);
    height: 280px;
}

#top-sg {
    position: relative;
    top: -280px;
}

#description {
    background-color: rgba(255, 255, 0, 0.5);
}